h1 {
    text-align: center;
    font-size: 3.125rem;
    color: seagreen;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

form {
    margin: 20px auto;
    width: 20rem;
    color: seagreen;
}

input {
    padding: 10px;
    font-size: inherit;
}

input[type="number"] {
    display: block;
    margin-bottom: 25px;
    width: 100%;
    border: 2px solid seagreen;
}